@page
@model EntreprenadPro.Pages.Fordon.RaderaModel

<h3>Är du säker på att du vill ta bort detta fordonet?</h3>
<h4>Fordon</h4>
<hr/>
<dl class="row">
  <dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Vehicle.Type)
  </dt>
  <dd class="col-sm-10">
    @Html.DisplayFor(model => model.Vehicle.Type)
  </dd>
  <dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Vehicle.RegistrationNumber)
  </dt>
  <dd class="col-sm-10">
    @Html.DisplayFor(model => model.Vehicle.RegistrationNumber)
  </dd>
  <dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Vehicle.Make)
  </dt>
  <dd class="col-sm-10">
    @Html.DisplayFor(model => model.Vehicle.Make)
  </dd>
  <dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Vehicle.Model)
  </dt>
  <dd class="col-sm-10">
    @Html.DisplayFor(model => model.Vehicle.Model)
  </dd>
</dl>

