@page
@model Index
@{
  Layout = "_Layout";
}

<section class="container min-vh-100">
  <div class="row">
    <form class="col-2" method="get" up-target=".entries" up-history="true" up-autosubmit>
      <input data-testid="date-input" asp-for="SelectedDate" class="form-control"/>
    </form>
    <div class="col-9"></div>
    <a  href="@Url.Page("Create")"
        up-layer="new drawer"
        up-accept-location="/Reports/?*"
        up-on-accepted="up.reload('.entries')"
        up-position="right"
        class="btn btn-outline-success col-1"><i class="bi bi-plus-lg"></i></a>
  </div>
  <hr>
  <div class="row">
    <div class="col entries">
      @if (!Model.TimeEntries.Any())
{
  <h1>There are no time entries for this day.</h1>
}
else
{
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Project</th>
      <th>Hours</th>
      <th>Worktype</th>
      <th></th>
    </tr>
    </thead>
    @foreach (var timeEntry in Model.TimeEntries)
    {
      <tbody class="entry-@timeEntry.Id">
      <tr>
        <td>
          <span>@timeEntry.Project</span>
        </td>
        <td>
          <span>@timeEntry.Hours</span>
        </td>
        <td>
          <span>@timeEntry.WorkType</span>
        </td>
        <td class="d-flex justify-content-end gap-2">
          <button
            class="btn btn-success"
            x-show="editing"
          ><i class="bi bi-check"></i></button>
          <form
            method="post"
            asp-page="Index"
            asp-page-handler="DeleteEntry"
            asp-route-id="@timeEntry.Id"
            asp-route-selectedDate="@Model.SelectedDate.ToString("yyyy-MM-dd")"
            up-confirm="Are you sure you want to delete this entry?"
            up-target=".entries">
            <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i></button>
            @Html.AntiForgeryToken()
          </form>
          <button type="button" data-bs-toggle="collapse" class="btn btn-link"
                  data-bs-target="#description-@timeEntry.Id" aria-expanded="false"
                  aria-controls="description-@timeEntry.Id">
            <i class="bi bi-caret-down-fill"></i>
          </button>
          <button type="button" class="btn btn-outline-secondary">
            <i class="bi bi-x"></i>
          </button>
        </td>
      </tr>
      <tr class="collapse" id="description-@timeEntry.Id">
        <td colspan="3">
          <label class="form-label">
            Description
            <textarea class="form-control include-for-edit" rows="8" cols="50" disabled>@timeEntry.Description</textarea>
          </label>
        </td>
      </tr>
      </tbody>
    }
  </table>
}
    </div>
  </div>
</section>

@section Scripts {
  <script>
    let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  </script>
}